[project]
	description = usbip
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Girish Bhangale (girish1605)
[access "refs/for/refs/*"]
	read = group user/Girish Bhangale (girish1605)
	push = group user/Girish Bhangale (girish1605)
	label-Code-Review = -2..+2 group user/Girish Bhangale (girish1605)
	label-Verified = -1..+1 group user/Girish Bhangale (girish1605)
	rebase = group user/Girish Bhangale (girish1605)
	removeReviewer = group user/Girish Bhangale (girish1605)
	submit = group user/Girish Bhangale (girish1605)
[access "refs/heads/*"]
	read = group user/Girish Bhangale (girish1605)
	create = group user/Girish Bhangale (girish1605)
	push = +force group user/Girish Bhangale (girish1605)
	pushMerge = group user/Girish Bhangale (girish1605)
[access "refs/tags/*"]
	push = group user/Girish Bhangale (girish1605)
	push = +force group user/Girish Bhangale (girish1605)
